body {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
}


.filter-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
   
  margin-bottom: 10px;
   align-items: center;
  gap: 0px;
}
