body {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
}


.filter-row1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 0px;
}
.filter-row2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 0px;
}
