body {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
}

 
.filter-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
   
  margin-bottom: 10px;
   align-items: center;
  gap: 0px;
}


#submitButton {margin-left: 50px;
  background: none;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  transition: background 0.2s;
}

#submitButton:hover {
  background-color: #fdffff;
  border-radius: 6px;
}
